@{
    ViewData["Title"] = "About us";
}


<div class="container">
    <h4> ABOUT US</h4>
    <hr />
    <br />
    <p>
        TAFTA is a registered non-profit organisation (NPO 002093) dedicated to serving the needs of Durban's elderly residents.

        Providing suitable accommodation, including frail care, is the greatest challenge. TAFTA owns 14 buildings for this purpose, and provides support services, such as Meals on Wheels and Home Based Care, to enable older persons to continue living in their own homes. Seniors' quality of life is also of paramount importance; opportunities for social interaction, entertainment and activities are offered through our clubs and Wellness Centres.

        All services are provided either free or at a nominal charge, and we rely heavily on contributions from local businesses and individuals. Someday we will be old and may need help ourselves. Please help ensure that TAFTA will be there for you and your loved ones by making your donation online now.
    </p>
</div>
