

<div class="container">
    <h4>GETTING OLD IS NOT SOMETHING THAT HAPPENS TO 'OTHER PEOPLE'</h4>
    <hr />
    <br />
    Although most of us hope to lead long lives, the paradox is that we don't want to get old! But, barring an unforseen accident or illness, growing older is unavoidable. There is, however, a huge difference between being active, healthy and financially well off in our golden years, as opposed to being frail, ill or immobile, and having to manage on a small pension.

    Obviously saving for retirement is vitally important, as is leading a healthy lifestyle. But even those who've worked hard all their lives and made provision for their old age may get into difficullties if they survive well into their 80s or 90s.

    It's shocking to know that only 6% of South Africans can retire completely independently of others.
    <h> Global Statistics</h>
    <hr />
    <br />
    As life expectancy rises and birth rates decline in developed countries, the median age of the population increases. This can have significant social and economic implications if the increase in the dependency ratio places a higher burden on the shrinking working population. Apart from the provision of pensions or social grants, an ageing population also increases pressure on health care services, since a number of health problems become more prevalent as people get older. These include mental health problems, especially dementia, as well as physical ailments.

    In South Africa, the high unemployment rate and the cost of health care for people with HIV/AIDS places further pressure on the tax payers. TAFTA (and others in the NGO sector ) are in partnership with the government – through the Department of Social Development (DSD) – to provide critical services which the government is unable to do on its own.
</div>